<div class='chat-item'>
    <div class='chat-item__logo'>
        <div class='chat-item__logo-img'></div>
    </div>
    <div class='chat-item__body'>
        <div class='chat-item__main'>
            <div class='chat-item__name'>{{name}}</div>
            <div class='chat-item__time'>{{time}}</div>
        </div>
        <div class='chat-item__msg'>
            <div class='chat-item__text'>{{message}}</div>
            <div class='chat-item__new'>
                {{#if newMessages}}
                    <div>{{newMessages}}</div>
                {{/if}}
            </div>
        </div>
    </div>
</div>
