.chats-wrapper {
  width: 100%;
  height: 100vh;
  font-weight: 500;
  color: var(--color-black);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chats {
  flex: 0 0 310px;
  background: var(--color-snow);
  height: 100%;
  display: flex;
  flex-direction: column;

  &__header {
    flex: 0 0 100px;
    display: flex;
    flex-direction: column;
    padding: 14px 10px;
    border-bottom: 1px solid var(--color-wisper);

    & button {
      margin: 6px 0 21px;
      background: transparent;
      width: 70px;
      align-self: end;
      color: var(--color-gray);
    }

    & input {
      background: var(--color-whitesmoke);
      border-radius: 5px;
      height: 32px;
      text-align: center;

      &::placeholder {
        text-align: center;
        color: var(--color-gray);
      }
    }
  }

  &__body {
    overflow-y: auto;
    flex: 1;
  }
}
