<div class='profile'>
    <div class='profile__logo'>
        <div class='profile__img'>img</div>
        <div class='profile__name'>Иван</div>
    </div>
    <div class='profile__data'>
        {{#each rows}}
            {{{this}}}
        {{/each}}
    </div>
    <div class='profile__settings'>
        {{#each buttons}}
            {{{this}}}
        {{/each}}
    </div>
</div>
