.overlay {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 10000;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0006;
}

.modal {
  background-color: var(--color-white);
  box-shadow: 0 0 6px #00000024;
  border-radius: 12px;
  padding: 40px 30px;
}
