<div class="update-pass">
  <div class="update-pass__logo">
    <div class="update-pass__img" id="avatar">img</div>
    <div class="update-pass__name">Иван</div>
  </div>
  <div class="update-pass__data">
    {{#each profileData}}
      {{{this}}}
    {{/each}}
  </div>
</div>
