@import url("./vendor/normalize.css");
@import url("./vendor/fonts.css");
@import url("./templates/account/account.css");

:root {
  --color-white: #fff;
  --color-dark: #000;
  --color-black: #1e1e1e;
  --color-gray: #999;
  --color-blue: #3369f3;
  --color-light-blue: #e4edfd;
  --color-whitesmoke: #efefef;
  --color-whisper: #eaeaea;
  --color-red: #f00;
  --color-snow: #fbfbfb;
  --color-white-light: #f8f8f8;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

:focus,
:active {
  outline: none;
}

html,
body {
  height: 100%;
  width: 100%;
  line-height: 1;
  font-size: 13px;
}

body {
  font-family: "Inter", "Arial", sans-serif;
  background: var(--color-white);
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

a:focus,
a:active,
button:focus,
button:active {
  outline: none;
}

button {
  cursor: pointer;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}
